# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
#
# Ignore all hidden files, except this .gitignore file.
.*
!.sorting
!.gitignore
!.mavenrc
# Ignore all files with the following extension.
*.log
*.orig
*.ids
*.pyc
# Ignore the build directory
target

*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# Intellij
.idea
*.iml
*.iws
*.ipr

# Other additional ignores
.coverage
htmlcov
deployments

